body {
  box-sizing: border-box;
  background: rgb(219, 219, 219);
  background: linear-gradient(
    45deg,
    rgba(219, 219, 219, 1) 44%,
    rgba(0, 0, 0, 1) 100%,
    rgba(213, 220, 221, 0.8407738095238095) 100%
  );
  font-family: "Montserrat", sans-serif;
}
.center {
  border-radius: 15px;
  box-shadow: 3px 10px 15px 5px rgba(0, 0, 0, 0.3);
  width: 86vw;
  background-color: gray;
  height: 90vh;
  margin: 5vh 7%;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1513715383826-b16aed5d8d54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.side {
  position: absolute;
  right: 0;
  height: 100%;
  width: 30%;
  background-color: rgba(117, 117, 117, 0.2);
  border-radius: 0 10px 10px 0;
}
h1 {
  position: absolute;
  bottom: 60px;
  color: white;
  left: 40px;
}
.side div {
  color: white;
  height: 25%;
  padding-top: 19%;
  padding-bottom: 0%;
  text-align: center;
}
.imgg {
  position: absolute;
  bottom: 40px;
  left: 130px;
}
h2 {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
}

.description {
  padding-top: 3%;
}

@media (max-width: 800px) {
  .side div {
    color: white;
    height: 25%;
    padding-top: 19%;
    text-align: center;
  }
}
